<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/thrasher-01.jpg');">
  <div class="container">
    <div class="motto">
      <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
          <h3 class="title text-white">Our Portfolio</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="projects">
   <div class="item item-1">
     <div class="item-info">
       <!-- <h2>Project Title</h2> -->
       <h5 class="title text-white"><button class="btn-square" (click)="open(content)">View</button></h5>
     </div>
   </div>
    <div class="item item-2">
      <div class="item-info">
        <!-- <h2>Project Title</h2> -->
        <h5 class="title text-white"><button class="btn-square" (click)="open(content2)">View</button></h5>
      </div>
    </div>
     <div class="item item-3">
       <div class="item-info">
         <!-- <h2>Project Title</h2> -->
         <h5 class="title text-white"><button class="btn-square" (click)="open(content3)">View</button></h5>
       </div>
     </div>
     <div class="item item-4">
       <div class="item-info">
         <!-- <h2>Project Title</h2> -->
         <h5 class="title text-white"><button class="btn-square" (click)="open(content4)">View</button></h5>
       </div>
     </div>
     <div class="item item-5">
       <div class="item-info">
         <!-- <h2>Project Title</h2> -->
         <h5 class="title text-white"><button class="btn-square" (click)="open(content5)">View</button></h5>
       </div>
     </div>
   </div>
   <ng-template #content5 let-c="close" let-d="dismiss">
     <div class="modal-header desktop">
       <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
   <span aria-hidden="true">&times;</span>
   </button>
     </div>
     <div class="modal-body">
               <div class="card page-carousel">
                 <ngb-carousel>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/5SUIP7mTioGYcc8Eaeosgs/484b5ec63ba30287cca0f118fbb8d1ae/IMG_3973.jpg?w=640&h=480&fit=thumb" alt="Parrothead Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/3fm3k1WCrYUM0yyceWaMy/a05c31e4fef5f5142ad37d93d42e917b/IMG_4000.jpg?w=640&h=480&fit=thumb" alt="Parrothead Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/1L4JtItQlemWS0WgU4QKMq/8cd378eb7a3ff9f0b715b14a0730221c/IMG_3954.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/1LchK3Y6ZS6G6yoO6aQwum/404cbc9326cad70961830e5ac19e3cf3/IMG_3951.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/13y3EiYwEUeOCGmKwKA4mC/e7a9350bfd5aba1f42bbe84fbd2658c2/IMG_4012.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/2kgbAdubagcoO6icu4cQck/1495a23f5a0b5fcb433ebfe7cbd49dd0/IMG_3961.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/1r1T0DVLuYaMGqoeyaa6Kg/9c972bd8f8447dc6949c909c1f4fb66a/IMG_3970.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/56zo9x4SNiMi4QUeEysyiM/3a720f6e98ad1f14ebcdba93a2727a5b/IMG_3964.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/3hYDzrOLJKAwasWesoAmcS/cba6b9d5556a41c4f757a039919a3cfa/IMG_3981.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/1ZNiwK0N7SoUGYOGaAS4k4/32337b36a208fc888ac605af2a7d35f2/IMG_3986.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/4Cl2HlHSr60qmwO8MmmiWS/abb68c74fea07ea18343eac68732a51b/IMG_4011.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/6Q4NKR3gJ2YCMo8iuCAOU8/93eee46538f122bb03d004c152ac5de9/ashley-3.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/22XvHvyiMAkMOqOiKaSCgU/e89f82d8fdf5d65f680e36d7abee99c2/ashley-2.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/23GtewnxikW6U4mGIq2wE/5b746d157702efb256b800a59c33012b/IMG_3983.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/6FJL2bZFUAMmyikcMwaie4/d98654c08c6cab36e56b56932db51cd6/ashley-1.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/6l2TD5aGKQeSaE4K0CeOEs/57c86ffd5d192abf50f02c22725d1869/IMG_3958.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/6Gv4a66uysOkqGYeYWay8q/c83dca5a058de5ac98717a52b5e54ece/ashley-9.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/2Z27EgrCDe06e6s0MaWKaw/c7e18c1f5c50f911f94828da93c8ca5e/ashley-8.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/4hEwry9wLK82qkKqugW0S2/dcf88e3d6feeb48169f24a33187a33e3/IMG_4017.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/42vEZrMQ1qOwQSsqQIy06c/43eb75d7b0f75a804e41e5fe708bc3fc/ashley-10.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/4cEvpYRCHYGSe6uG0iMGwi/be63d063f573f23ca3edce3e7e0a031f/ashley-7.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/3Ib1zhtcpqYUA2o2yY2EUy/8fabc4b1e17d727add2e24d561ec35a2/ashley-5.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/7f31iILsM8YSuUSsmYaSAq/be3e7bdd9f9890a6b632e899b68344f5/IMG_4023.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/4grM2UqqJakES0ykUoEwG2/12361aa2d5df0a4f4a8868bd132ac8a1/ashley-6.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                 </ngb-carousel>
               </div>
     </div>
   </ng-template>
   <ng-template #content4 let-c="close" let-d="dismiss">
     <div class="modal-header desktop">
       <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
   <span aria-hidden="true">&times;</span>
   </button>
     </div>
     <div class="modal-body">
               <div class="card page-carousel">
                 <ngb-carousel>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/30311tCM1y64KOgmYeQoKO/7812b61259d6df6c41bfcee62ffd2dc1/IMG_8321.jpg?w=640&h=480&fit=thumb" alt="Parrothead Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/3UJm0cwWgoUSQ2SmGigIoo/784c7d8dcdb6048d220ce767c6487b1f/IMG_0698.jpg?w=640&h=480&fit=thumb" alt="Parrothead Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/3i4Q4lPJKwy0QyWGMWmS68/c8785b4f2041bacbb1dc24d2f553e462/IMG_8299.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/43mRVb7ZPiKCOQuWcO4CeI/e0d9d1d37216d23c6e858b54102abeee/IMG_0681.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/4VpBoadpxK8K44EKyaWOII/aaf5408a3c1a2a152fac7ab51c4f9853/IMG_8314.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/5IURuIjZaoMqayKyiEY0M6/66c3bf11c875bd61ad6a3e2a013347ad/IMG_8341.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/5nRb5DgowwsmMUE2qc0Q0c/90d71de09081af34bbd7ffffc90b573d/IMG_8316.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/5pBj3G9wjYkUcIamsGO0qw/20e97bd240c9b5742dfd2f30da5b0fb4/IMG_0675.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/6Y9cGjSuwogGS8gkY0a0WC/cad879870ebd064813fa755e033477bb/IMG_0678.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/6ZPmrouSLm8qwm0YsIwicg/876031516102c452efded64c4f44a13e/IMG_8331.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/6ZhJBZXVRYISc2MK2UQOgy/583f5d301f13ff678667da0b6cf47c61/IMG_0696.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/7fNwgDQ61qWqqAqWgSKE68/22aa7208ef6802f7b8fce6fad46aead1/parrot-3.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/fR9LUV0ity4uOGW2mCaeE/9acfb11f3a68961c1788b3bb62c28077/IMG_8325.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                 </ngb-carousel>
               </div>
     </div>
   </ng-template>
   <ng-template #content3 let-c="close" let-d="dismiss">
     <div class="modal-header desktop">
       <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
   <span aria-hidden="true">&times;</span>
   </button>
     </div>
     <div class="modal-body">
               <div class="card page-carousel">
                 <ngb-carousel>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/6lTSCYS32ouIW2qYUqwmWQ/0fa0c6ebc4632d85c3e5a172c79477c9/DSC_3932.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/lJwn068lcyMiaUuKWOqYO/3618218cee2da898510285603cfcc4be/DSC_3933.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/2O6k1Raj5Y6wGoImgUIsaW/fe902be3db2bc6736c9fa371697cd928/DSC_3938.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/4DfqMybatOiIca84qgySi4/e3a74fa0cc237d321749b77132c443f4/DSC_3943.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/67LNczQY0MuQouGS0sgECy/fda9b4afc5c69c7079da37235f15df2c/DSC_3945.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/29gbCyoaTuKu2geMU6aikc/ce6c77e2084b172e7fa85da3ad726454/DSC_3949.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/4yW15ZqEhWEWsoiiMK0SGq/ae33de2d95697bbc200ef8810f0bc5c1/DSC_3950.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/1auZzQpyI8wOaYGWWQMaK8/f1e226cc37a70cd758192632efa08af0/DSC_3940.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/5MvI237XpYykEwMq2Oc2S0/1414a413604c12c33f5032a000a6d8fe/DSC_3955.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/4luCsKElTaA44cA4iAg26Q/b02edc84f189e600aeeccaf169b2c533/DSC_3951.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/6dSA0s47rGCw0MS4Wsg4ci/e5257f501b93eac61385c617f2142159/DSC_3957.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/19m7e7nIcsmsGAwEeOm26Q/76b754cb3320081949ef74cbd29af2a6/DSC_3956.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/1yq8qEP356uWYauowgkUI8/35a5fddeb1e5d45205874f8afd3f467f/DSC_3946.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/4Wdiga36kwEWmoYAyoeC82/a0ae18aa5e2c9963c4b98049030cc338/DSC_3947.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/4Jocg0BM0Mc0Y2GWa46g0S/28115260413a3ea7a67ecff26843f552/DSC_3961.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/1Gpq93gZluOMsoIuSOEcCk/efe59b32e6618debd048d634c4183854/DSC_3952.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/280REsNuZSmckS24E48QCq/7e11cdde8295161e17fc2434bb47fc04/DSC_3970.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/6sCZDaEDuwWW4qWqeSWQiu/c57a2692bb9b4a073d1e254ef364acc5/DSC_3964.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/1ruQmFsLWgcuuQiieoUkuC/3c2941c25beaf6b294c62e65b70222cb/DSC_3969.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                   <ng-template ngbSlide>
                     <img class="img-fluid" src="//images.contentful.com/uci55v1bf2f0/jO7NGDf2zCiMa8KIaesOq/8d2ac7e6f76bc7fcf90029775c5ddb00/DSC_3944.jpg?w=640&h=480&fit=thumb" alt="Thrasher Project">
                     <div class="carousel-caption">
                       <p></p>
                     </div>
                   </ng-template>
                 </ngb-carousel>
               </div>
     </div>
   </ng-template>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header desktop">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
<span aria-hidden="true">&times;</span>
</button>
  </div>
  <div class="modal-body">
            <div class="card page-carousel">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/mJ8l9i8pNYkqeW4yS0cio/4caf6db342d0a75aa2bf9cabec0226b4/DSC_8022.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8011-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8013-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8017-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8028-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8029-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8032-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8041-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8046-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8057-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8046-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8063-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8066-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8068-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8075-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8078-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8081-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8085-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8088-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="../assets/img/magnolia/DSC_8090-min.jpg?w=640&h=480&fit=thumb" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
  </div>
</ng-template>
<ng-template #content2 let-c="close" let-d="dismiss">
  <div class="modal-header desktop">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
<span aria-hidden="true">&times;</span>
</button>
  </div>
  <div class="modal-body">
            <div class="card page-carousel">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/219NA9a1mkmiGAAWC8MgWY/772642f37e55710ca2dfd52ee55bd9d4/DSC_8180.jpg" alt="East Arctic Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/1cZbW7bi3kqeomG2AqSSYG/199aac170c94b554f25a73a237d49f98/DJI00227.jpg" alt="East Arctic Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/1q0xpFZl4YsckYQYs6kiam/74d6797bf72920ba893f7b2b8674807a/DJI00222.jpg" alt="East Arctic Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/3qZ9J9Yj2oqmcUay4cSqKQ/faa8ac3047c9e1d46fcd57aa21068a79/DJI00224.jpg" alt="East Arctic Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class="img-fluid" src="https://images.contentful.com/uci55v1bf2f0/3qZ9J9Yj2oqmcUay4cSqKQ/faa8ac3047c9e1d46fcd57aa21068a79/DJI00224.jpg" alt="East Arctic Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
  </div>
</ng-template>
