/* PORTFOLIO GRID */

.projects{
  display: flex; display: -webkit-flex;
  flex-direction: row; -webkit-flex-direction: row;
  flex-wrap: wrap; -webkit-flex-wrap: wrap;
  justify-content: center; -webkit-justify-content: center;
  width:100%;
  margin:0 auto;
}

.projects .item-1{
  background-image:url('//images.contentful.com/uci55v1bf2f0/1Lv5ZGscXeeEWeKUMkG0s6/9e9ecf2925ff9fe95673b2e6893a7cb5/DSC_8003.jpg?w=640&h=480&fit=thumb');
  background-size:cover;
  background-position:center center;
  min-height:300px;
  min-width:300px;
  cursor: pointer;
  margin:2rem;
}
.projects .item-2{
  background-image:url('https://images.contentful.com/uci55v1bf2f0/21nTjKWDOY6eUuQ8CUaKk4/3bbd31db343360126a4171547bd43932/DSC_8164.jpg?w=640&h=480&fit=thumb');
  background-size:cover;
  background-position:center center;
  min-height:300px;
  min-width:300px;
  cursor: pointer;
  margin:2rem;
}
.projects .item-3{
  background-image:url('https://images.contentful.com/uci55v1bf2f0/4DfqMybatOiIca84qgySi4/e3a74fa0cc237d321749b77132c443f4/DSC_3943.jpg?w=640&h=480&fit=thumb');
  background-size:cover;
  background-position:center center;
  min-height:300px;
  min-width:300px;
  cursor: pointer;
  margin:2rem;
}
.projects .item-4{
  background-image:url('https://images.contentful.com/uci55v1bf2f0/3i4Q4lPJKwy0QyWGMWmS68/c8785b4f2041bacbb1dc24d2f553e462/IMG_8299.jpg?w=640&h=480&fit=thumb');
  background-size:cover;
  background-position:center center;
  min-height:300px;
  min-width:300px;
  cursor: pointer;
  margin:2rem;
}
.projects .item-5{
  background-image:url('https://images.contentful.com/uci55v1bf2f0/5g7skmhpq8oE6EoqMcMo4Q/9f91be8dee722a8c69fea8d6cde30cc4/ashley-4.jpg?w=640&h=480&fit=thumb');
  background-size:cover;
  background-position:center center;
  min-height:300px;
  min-width:300px;
  cursor: pointer;
  margin:2rem;
}
@media (min-width: 992px) {
  .projects .item{
  min-height:400px;
  min-width:400px;
  }
  .item-info {
    min-width:400px;
    min-height:400px;
  }
  .item:hover>.item-info {
    background:rgba(0,0,0,0.6);
    display: flex; display: -webkit-flex;
    flex-direction: column; -webkit-flex-direction: column;
    flex-wrap: wrap; -webkit-flex-wrap: wrap;
    justify-content: center; -webkit-justify-content: center;
    align-items: center; -webkit-align-items: center;
    min-width:400px!important;
    min-height:400px!important;
  }
}

.item-info {
    display: none;
}

.item:hover>.item-info {
  background:rgba(0,0,0,0.6);
  display: flex; display: -webkit-flex;
  flex-direction: column; -webkit-flex-direction: column;
  flex-wrap: wrap; -webkit-flex-wrap: wrap;
  justify-content: center; -webkit-justify-content: center;
  align-items: center; -webkit-align-items: center;
  min-width:300px;
  min-height:300px;
}

.item-info h2{
  font-weight:normal;
  color:#ffffff;
}
