<pre>
  homePage: JSON
</pre>
<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/magnolia-kitchen.jpg');">
  <div class="container">
    <div class="motto">
      <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
          <h5 class="title text-white">Featured Project:</h5>
          <h3 class="title text-white">Downtown New Construction | Caropolis Award Winner</h3>
          <h5 class="title text-white"><button class="btn-square" (click)="open(content)">View</button></h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="section masthead text-center">
    <div class="masthead-bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Craftmanship</h2>
          <h5 class="title">Ranging from new contstruction to renovations
                it is important to us to provide our homeowners with the highest level
              of customer service and quality craftmanship. </h5>
        </div>
      </div>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header desktop">
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body">
                  <div class="card page-carousel">
                    <ngb-carousel>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8003-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8011-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8013-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8017-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8028-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8029-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8032-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8041-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8046-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8057-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8046-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8063-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8066-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8068-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8075-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8078-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8081-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8085-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8088-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                      <ng-template ngbSlide>
                        <img src="../assets/img/magnolia/DSC_8090-min.jpg" alt="Magnolia Project">
                        <div class="carousel-caption">
                          <p></p>
                        </div>
                      </ng-template>
                    </ngb-carousel>
                  </div>
        </div>
      </ng-template>
    </div>
    <div id="commercial"></div>
    <div id="residential"></div>
  </div>
  <div class="section section-light">
    <div class="container">
      <div class="row">
        <div class="mobile-hide">
        <ngb-tabset [justify]="currentJustify">
  <ngb-tab>
    <ng-template ngbTabTitle><h3>Commercial</h3></ng-template>
    <ng-template ngbTabContent>
      <p>Archer Construction is known for our innovative approach with construction techniques and engineering, solutions based problem solving and which results in high quality finished products.
        The original founders of the company are still active in the day-to-day operations of the company
        including estimating, project planning and work method development, quality and safety program implementation and overall client satisfaction.</p>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><h3>Residential</h3></ng-template>
    <ng-template ngbTabContent><p>Archer Construction was started in 2006 and is based in Charleston, SC.
      With an award winning history, high standards of quality, open communication and an honest approach to each project,
      Archer Construction knows how important your home is to you and your family.</p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
</div>
<div class="desktop-hide w-100">
<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1">
    <ng-template ngbPanelTitle>
      <h3>Commercial</h3>
    </ng-template>
    <ng-template ngbPanelContent>
      <p>Archer Construction is known for our innovative approach with construction techniques and engineering, solutions based problem solving and which results in high quality finished products.
        The original founders of the company are still active in the day-to-day operations of the company
        including estimating, project planning and work method development, quality and safety program implementation and overall client satisfaction.</p>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2">
    <ng-template ngbPanelTitle>
      <h3>Residential</h3>
    </ng-template>
    <ng-template ngbPanelContent>
      <p>Archer Construction was started in 2006 and is based in Charleston, SC.
        With an award winning history, high standards of quality, open communication and an honest approach to each project,
        Archer Construction knows how important your home is to you and your family.</p>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
</div>
      </div>
    </div>
  </div>
  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Get in touch</h2>
          <form method="POST" action="http://formspree.io/hoseasandstrom@gmail.com">
  <input type="email" name="email" placeholder="Your email">
  <textarea name="message" placeholder="Your message"></textarea>
  <input type="submit" value="Send">
</form>
          <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                  <input type="text" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <div class="input-group">
                  <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>
            </div>
            <label>Message</label>
            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
            <div class="row">
              <div class="col-md-4 mr-auto ml-auto">
                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
