<nav class="navbar navbar-expand-lg fixed-top" color-on-scroll="500">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" href="">
              <img src="assets/img/NEW-ArcherLogo.png" alt="Archer Logo">
            </a>
      <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <div class="social-icons  model-2">
        <ul class="list-unstyled text-center mb-0 model-2 navbar-nav ml-auto text-center">
          <li class="list-unstyled-item nav-item">
            <a class="pinterest" rel="tooltip" title="Check out commercial projects" href="commercial">
              <i class="fa fa-building"></i>
            </a>
            <a class="a-text" href="commercial">
              <p class="">Commercial</p>
            </a>
          </li>
          <li class="list-unstyled-item nav-item">
            <a class="pinterest" rel="tooltip" title="Check out residential projects" href="residential">
              <i class="fa fa-home"></i>
            </a>
            <a class="a-text" href="residential">
              <p class="">Residential</p>
            </a>
          </li>
          <li class="list-unstyled-item nav-item">
            <a class="pinterest" rel="tooltip" title="Check out projects on Houzz" data-placement="bottom" href="https://www.houzz.com/pro/archerdevelopmentgroup/archer-construction">
              <i class="fa fa-houzz"></i>
            </a>
            <a class="a-text" href="https://www.houzz.com/pro/archerdevelopmentgroup/archer-construction">
              <p class="">Houzz</p>
            </a>
          </li>
          <li class="list-unstyled-item nav-item">
            <a class="pinterest" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/Archer-Construction-193688200702629/">
              <i class="fa fa-facebook"></i>
            </a>
            <a class="a-text" href="https://www.facebook.com/Archer-Construction-193688200702629/">
              <p class="">Facebook</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
