* {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

* {
  background-repeat: no-repeat;
}

* {
  vertical-align: middle;
}

button:focus {
  outline: none!important;
}

.section {
  padding: 35px 0 !important;
}

.nav-tabs .nav-item {
  margin: 0 2rem -1px;
}

.nav-tabs {
  border-bottom: 1px solid #000!important;
}

.nav-tabs .nav-item .nav-link.active:before,
.nav-tabs .nav-item .nav-link.active:focus:before,
.nav-tabs .nav-item .nav-link.active:hover:before {
  border-bottom: 11px solid #000!important;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 40%;
  bottom: 1px;
}

.tab-content {
  color: #000!important;
}

.btn-danger {
  background-color: #CB2026!important;
  border-color: #CB2026!important;
  color: #FFFFFF;
  opacity: 1;
}

.btn-danger.active,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.show > .btn-danger.dropdown-toggle {
  background-color: #c82333!important;
  border-color: #bd2130!important;
  opacity: 0.7;
}

.btn-square {
  background-color: transparent!important;
  border-color: #FFF!important;
  border-style: solid;
  border-width: 2px;
  color: #FFFFFF;
  opacity: 1;
}

.title {
  color: #000!important;
}

.page-header {
  margin-top: 10vh;
}

.page-header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000, #000);
  opacity: 0.25;
}

.page-header .row {
  margin-top: 12rem;
}

.text-white {
  font-weight: 400!important;
}

.card {
  margin-bottom: 0!important;
  background-color: transparent!important;
}

.modal-content {
  background-color: transparent!important;
  border: none!important;
  box-shadow: none!important;
}

.modal-header {
  border-bottom: none!important;
}

.modal-body {
  padding: 0!important;
}

.carousel-inner .carousel-item img {
  min-height: 300px!important;
  height:auto;
  object-fit: cover;
  width:100%;
}
.carousel-indicators li {
  display: none;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px!important;

  }
}

button.close {
  color: #FFFFFF;
  // background-color: #CB2026 !important;
  // border-radius: 50%;
  // height: 30px;
  // width: 30px;
  font-size: 26px;
  margin: -15px 2px 2px;
}
.carousel-inner .carousel-item img {
  border-radius: 0!important;
}

.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
}

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #CB2026;
  transform: skewY(45deg);
  transform-origin: bottom right;
}

.card-header a {
  color: #000!important;
}

,
.card-header a.active,
.card-header a:hover,
.card-header.active h3 {
  color: #CB2026!important;
}

.carousel-inner .carousel-item img {
  height: 100%!important;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: #CB2026!important;
}

.carousel-indicators .active {
  background-color: #CB2026!important;
}
.modal-header button.close {
  margin-top: -5px;
    margin-right: -20px;
    border: solid;
    border-radius: 50%;
    width: 35px;
}
@media (min-width:768px) {
  .mobile-hide {
    display: block;
  }

  .desktop-hide {
    display: none;
  }
}

@media (min-width:1040px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
  .modal-dialog {
    padding-top: 90px!important;
  }
}
@media (max-width:1040px) {
  .modal-dialog {
    padding-top: 90px!important;
  }
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .section {
    padding: 0 !important;
  }

  .masthead .masthead-bg {
    transform: skewY(50deg);
  }
}
@media (max-width:992px) {
.model-2 {
  display: block!important;
}
}
@media (max-width:768px) {
  .card {
    margin-bottom: 20px !important;
  }
  .card-header a {
    min-width:100%;
  }
  .mobile-hide {
    display: none;
  }

  .desktop-hide {
    display: block;
  }
  .section {
    padding: 0!important !important;
  }

  .main .section:first-of-type {
    margin-bottom: 0!important;
  }

  .model-2 {
    display: block!important;
  }

  .masthead .masthead-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 2%;
    height: 100%;
    background-color: #d00216;
    transform: skewY(0);
    transform-origin: bottom right;
  }
}
