<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li>Archer Construction</li>
                    <li>21 Broad Street</li>
                    <li>Charleston, SC 29401</li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, Archer Construction, LLC.
                </span>
            </div>
        </div>
    </div>
</footer>
