<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/thrasher-01.jpg');">
  <div class="container">
    <div class="motto">
      <div class="row">
        <div class="col-md-12 mr-auto ml-auto">
          <h3 class="title text-white">Residential Projects</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
<div class="projects">
   <div class="item">
     <div class="item-info">
       <h2>Project Title</h2>
       <h5 class="title text-white"><button class="btn-square" (click)="open(content)">View</button></h5>
     </div>
   </div>
 </div>
</div>
<!-- <h5 class="title text-white"><button class="btn-square" (click)="open(content)">View</button></h5> -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header desktop">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
<span aria-hidden="true">&times;</span>
</button>
  </div>
  <div class="modal-body">
            <div class="card page-carousel">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8003-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8011-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8013-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8017-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8028-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8029-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8032-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8041-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8046-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8057-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8046-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8063-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8066-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8068-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8075-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8078-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8081-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8085-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8088-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img src="../assets/img/magnolia/DSC_8090-min.jpg" alt="Magnolia Project">
                  <div class="carousel-caption">
                    <p></p>
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
  </div>
</ng-template>
